<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button default-href="tabs/atelier"></ion-back-button>
    </ion-buttons>
    <ion-title>{{leAtelier.libelle}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-card>
    <ion-card-header>
      <h6>Remplissez ce formulaire pour poster un commentaire</h6>
    </ion-card-header>

    <ion-card-content>
      <form (ngSubmit)="postCommentaire()" novalidate>
        <ion-input color="primary" label="Commentaire" name="libelle" [(ngModel)]="libelle" label-placement="floating" fill="outline" placeholder="Entrer un commentaire"></ion-input>
        <br>
        <ion-input label="Nom" name="nom" [(ngModel)]="nom" label-placement="floating" fill="outline" placeholder="Entrer un nom"></ion-input>
        <br>
        <ion-input label="Email" name="email" [(ngModel)]="email" type="email" label-placement="floating" fill="outline" placeholder="Entrer un email"></ion-input>
        <br>
        <ion-button expand="block" id="present-alert" type="submit">Valider</ion-button>
        <ion-alert trigger="present-alert" subHeader="Commentaire publié !" [buttons]="alertButtons"></ion-alert>
      </form>
    </ion-card-content>
  </ion-card>

</ion-content>
