<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button default-href="tabs/details"></ion-back-button>
    </ion-buttons>
    <ion-title>Détails de l'atelier</ion-title>
  </ion-toolbar>
</ion-header>


<ion-content [fullscreen]="true">

  <ion-card>
    <ion-card-header>
      <ion-card-title>{{leAtelier.libelle}}</ion-card-title>
    </ion-card-header>

    <!-- détails de l'atelier -->
    <ion-card-content>
      <ion-list lines="none">
        <ion-item detail="false">
          <ion-icon name="calendar-outline" slot="start"></ion-icon>
          <ion-label>Date :&nbsp;{{leAtelier.date | date: 'dd/MM/yyyy'}}</ion-label>
        </ion-item>
        <ion-item detail="false">
          <ion-icon name="location-outline" slot="start"></ion-icon>
          <ion-label>Salle :&nbsp; {{leAtelier.salle}}</ion-label>
        </ion-item>
        <ion-button id="btn-inscription" expand="block" (click)="inscriptionClick(leAtelier)">S'inscrire</ion-button>
        <!-- si l'atelier est déjà en favori, affichage du bouton de favori correspondant -->
        <ion-button *ngIf="isFavorite(leAtelier) == false" fill="clear" expand="block" (click)="addToFavorites(leAtelier)">
          <ion-icon name="heart-outline" slot="end"></ion-icon>
          Ajouter en Favori
        </ion-button>
        <ion-button *ngIf="isFavorite(leAtelier)" fill="outline" expand="block" (click)="removeFromFavorites(leAtelier.id)">
          <ion-icon name="heart-outline" slot="end"></ion-icon>
          Retirer des favoris
        </ion-button>
      </ion-list>
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <ion-card-title>Commentaires</ion-card-title>
    </ion-card-header>
    <!-- affichage des commentaires sur l'atelier -->
    <ion-card-content>
      <p *ngIf="lesCommentaires.length === 0">Aucun commentaire pour le moment.</p>
      <ion-list lines="full">
        <ion-item *ngFor="let unCommentaire of lesCommentaires">
          <ion-avatar slot="start">
            <img src="https://ionicframework.com/docs/img/demos/avatar.svg" />
          </ion-avatar>
          <ion-label class="ion-text-wrap">
            <h3>{{unCommentaire.nom}}</h3>
            <p>{{unCommentaire.libelle}}</p>
          </ion-label>
        </ion-item>
      </ion-list>

      <ion-button fill="clear" expand="block" (click)="commenter(leAtelier)">
        <ion-icon name="chatbox-ellipses-outline" slot="end"></ion-icon>
          Commenter
      </ion-button>
    </ion-card-content>
  </ion-card>


</ion-content>