<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Favoris</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-card>
    <ion-card-header>
      <ion-card-title>Ateliers favoris</ion-card-title>
    </ion-card-header>

    <ion-card-content>
      Retrouvez ici tous les ateliers que vous avez mis en favoris

      <ion-list>
        <ion-item button *ngFor="let unFavori of lesFavoris" (click)="detailAtelier(unFavori)" detail="true">
          <!-- titre de l'atelier -->
          <ion-icon name="heart" slot="start"></ion-icon>
          <ion-label class="ion-text-wrap">
            {{unFavori.libelle}}
          </ion-label>
        </ion-item>
      </ion-list>
    </ion-card-content>
  </ion-card>
</ion-content>