<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button default-href="tabs/hackathons"></ion-back-button>
    </ion-buttons>
    <ion-title>Détails du hackathon</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <ion-card>
    <!-- titre et date du hackathon -->
    <ion-card-header>
      <ion-card-title>{{leHackathon.titre}}</ion-card-title>
      <ion-card-subtitle>📅 Du {{leHackathon.dateDebut | date: 'dd/MM/yyyy'}} au {{leHackathon.dateFin | date:
        'dd/MM/yyyy'}}</ion-card-subtitle>
    </ion-card-header>

    <!-- détails du hackathon -->
    <ion-card-content>
      <ion-list>
        <ion-item>
          <ion-label>
            <strong>Adresse :</strong>
            <ion-note class="ion-text-wrap">
              {{leHackathon.rue + ', ' + leHackathon.codePostal + ', ' + leHackathon.ville}}
            </ion-note>
          </ion-label>
        </ion-item>
        <ion-item>
          <ion-label>
            <strong>Date limite d'incription :</strong>
            <ion-note class="ion-text-wrap">
              {{leHackathon.dateLimiteInscription | date: 'dd/MM/yyyy'}}
              </ion-note>
          </ion-label>
        </ion-item>
        <ion-item>
          <ion-label>
            <strong class="ion-text-wrap">Nombre de places restantes :</strong>
            <ion-note class="ion-text-wrap">
              {{leHackathon.nbPlacesMax}}
            </ion-note>
          </ion-label>
        </ion-item>
      </ion-list>
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <ion-card-title>Ateliers liés</ion-card-title>
    </ion-card-header>

    <ion-card-content>
      Retrouvez ici les ateliers liés à l'hackathon

      <ion-list>
        <ion-item button *ngFor="let unAtelier of ateliers" (click)="detailAtelier(unAtelier)" detail="true">
          <!-- titre de l'atelier -->
          <ion-label class="ion-text-wrap">
            {{unAtelier.libelle}}
          </ion-label>
        </ion-item>
      </ion-list>
    </ion-card-content>
  </ion-card>

</ion-content>