ion-modal#ateliers-modal {
    --width: fit-content;
    --min-width: 250px;
    --height: fit-content;
    --border-radius: 10px;
    --box-shadow: 0 28px 48px rgba(0, 0, 0, 0.4);
  }
  
  ion-modal#ateliers-modal h1 {
    margin: 20px 20px 10px 20px;
  }
  
  ion-modal#ateliers-modal ion-icon {
    margin-right: 6px;
    padding: 4px 0;
  
    color: #aaaaaa;
  }

  ion-button#btn-favori{
    margin-top: 10px;
  }

  ion-button#btn-inscription{
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 10px;
  }