{% extends'base.html.twig' %}

{% block title %}Hackat'Agence - Connexion
{% endblock %}

{% block body %}
<div class="container">
    <br>
    <!-- message si connexion échouée -->
    {% if errors %}
        <div class="alert alert-danger">
            <h5>{{ errors.messageKey|trans(errors.messageData, 'security') }}</h5>
        </div>
        <br>
    {% endif %}
    <!-- si inscription réussie, alors demande de connexion -->
    {% for message in app.flashes('success') %}
        <div class="alert alert-success" role="alert">
            <h5>{{ message }}</h4>
        </div>
        <br>
    {% endfor %}
    <div class="shadow p-3 mb-5 bg-white rounded">
        <h1>Connexion</h1>
    </div>
    <!-- formulaire de connexion -->
	<form action="{{path('app_login')}}" method="post">
        <div class="form-group">
            <label for="login">Adresse email :</label>
            <input type="text" class="form-control" id="login" name="_username" value="{{last_username}}"/>
        </div>
        <br>
        <div class="form-group">
            <label for="password">Mot de passe :</label>
            <input type="password" class="form-control" id="password" name="_password"/>
        </div>
        <br>
        <button type="submit" class="btn btn-primary">Connexion</button>
	</form>
</div>
{% endblock %}