<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Détails du hackathon
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Détails du hackathon</ion-title>
    </ion-toolbar>
  </ion-header>

  <!-- CONTENU DE LA PAGE -->

  <ion-card>
    <ion-card-header>
      <ion-card-title>{{leHackathon.titre}}</ion-card-title>
      <ion-card-subtitle>📅 Du {{leHackathon.dateDebut | date: 'dd/MM/yyyy'}} au {{leHackathon.dateFin | date: 'dd/MM/yyyy'}}</ion-card-subtitle>
    </ion-card-header>
  
    <ion-card-content>
      <ion-list>
        <ion-item><strong>Adresse :&#xA0;</strong>{{leHackathon.rue + ', ' + leHackathon.codePostal + ', ' + leHackathon.ville}}</ion-item>
        <ion-item><strong>Date limite d'incription :&#xA0;</strong>{{leHackathon.dateLimiteInscription | date: 'dd/MM/yyyy'}}</ion-item>
        <ion-item><strong>Nombre de places restantes :&#xA0;</strong>{{leHackathon.nbPlacesMax}}(nbPlacesMax)</ion-item>
      </ion-list>
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <ion-card-title>Ateliers liés</ion-card-title>
    </ion-card-header>
  
    <ion-card-content>
      Retrouvez ici les ateliers liés à l'hackathon
      <ion-list>
        <ion-item *ngFor ="let unAtelier of ateliers">🔸<strong>{{unAtelier.libelle}}</strong>&#xA0;&#xA0;/&#xA0;&#xA0;
          <strong>Date :&#xA0;</strong>{{unAtelier.date | date: 'dd/MM/yyyy'}}&#xA0;&#xA0;/&#xA0;&#xA0;
          <strong>Salle :&#xA0;</strong> {{unAtelier.salle}}&#xA0;&#xA0;&#xA0;
          <ion-button (click)="inscriptionClick(unAtelier)">S'inscrire</ion-button>
        </ion-item>
      </ion-list>
    </ion-card-content>
  </ion-card>

</ion-content>
