<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Liste des hackathons
    </ion-title>
    
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
    <!-- liste des hackathons -->
    <ion-card>
      <ion-list>    
        <ion-item *ngFor="let unHackathon of hackathons" (click)="detailHackathonClick(unHackathon)" detail="true">
          <ion-icon name="trail-sign-outline" slot="start"></ion-icon>
          <ion-label>
            <p>{{unHackathon.titre}}</p>
          </ion-label>
        </ion-item>
      </ion-list>
    </ion-card>
    
  
  </ion-content>